/*

Start Particle JS Stuff

*/
/* ---- reset ---- */
/* body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; }  */
canvas{ display: block; vertical-align: bottom; }
/* ---- particles.js container ---- */
#particles-js{ position:absolute; width: 100%; height: 100%; background-color: #513e96; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
/* ---- stats.js ---- */
.count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; }

.js-count-particles{ font-size: 1.1em; }

#stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; }

#stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }

/*

End Particle JS Stuff

*/
/*----Mouse Scroller ----- */
.scroll-downs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

.bg-gray {
    /* background-color: #4F575E; */
    background-color: #6C747C;
}

.icon-primary {
    color: #9385CA;
}

.btn-primary {
    background-color: #6C5BAD;
    border-color: #6C5BAD;
}

.btn-primary:hover{
    background: #513E96;
    border-color: #513E96;
}

.banner-area {
    background-image: linear-gradient(to right top, #9385CA 0%, #513E96 100%);
}

.videoWrapper {
    background-color: #232A35;
}

/* Custom Card CSS
    from
    https://codepen.io/peterdanis/pen/oeqNOg
    */
.card-custom {
    overflow: hidden;
    min-height: 450px;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
    height: 200px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
    position: absolute;
    content: '';
    top: 161px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 40px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 545px;
    border-left-width: calc(575px - 5vw);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: inherit;
}

.card-custom-avatar img {
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
    position: absolute;
    top: 100px;
    left: 1.25rem;
    width: 100px;
    height: 100px;
}

/* End Custom Card CSS */
